In [10]:
from os import times_result
import pickle
import pandas as pd

# def load_data():
#   with open("data/training.res", "rb") as tdr:
#     train_pkl = pickle.load(tdr)
#     train = pd.DataFrame({'title': train_pkl[0], 'label': train_pkl[1]})
#     print(train)
  
#   with open("data/testing.res", "rb") as tsdr:
#     test_pkl = pickle.load(tsdr)
#     test = pd.DataFrame({'title': test_pkl[0], 'label': test_pkl[1]})
#     print(test)

label2id = {
    'bola': 0,
    'news': 1,
    'bisnis': 2,
    'tekno': 3,
    'otomotif': 4
}

#disini kita akan mengubah label menjadi id
def load_data():
  #load data
  with open("data/training.res", "rb") as tdr:
    train_pkl = pickle.load(tdr)
    train = pd.DataFrame({'title': train_pkl[0], 'label': train_pkl[1]})
  
  with open("data/testing.res", "rb") as tsdr:
    test_pkl = pickle.load(tsdr)
    test = pd.DataFrame({'title': test_pkl[0], 'label': test_pkl[1]})
  
  #ubah label menjadi id
  train.label = train.label.map(label2id)
  test.label = test.label.map(label2id)

  return train, test

train, test = load_data()
train

                                                  title  label
0     Liputan6.com, London - Lee Dixon khawatir Arse...      0
1     Liputan6.com, Jakarta - Kasus dugaan penganiay...      1
2     Liputan6.com, Jakarta Menanggapi aksi eks peke...      2
3     Liputan6.com, Medan - Sebanyak 81 kendaraan 4x...      0
4     Liputan6.com, Jakarta Indonesia akan melawan T...      0
...                                                 ...    ...
6122  Liputan6.com, Jakarta Badan Pusat Statistik (B...      2
6123  Liputan6.com, Jakarta - PT Waskita Beton Preca...      2
6124  Liputan6SCTV, Bengkalis - Panglima TNI Marseka...      1
6125  Liputan6.com, Jakarta - Tahapan wawancara kerj...      2
6126  Jakarta - Timnas Indonesia U-22 bersua Vietnam...      0

[6127 rows x 2 columns]

In [7]:
load_data()

                                                  title   label
0     Liputan6.com, London - Lee Dixon khawatir Arse...    bola
1     Liputan6.com, Jakarta - Kasus dugaan penganiay...    news
2     Liputan6.com, Jakarta Menanggapi aksi eks peke...  bisnis
3     Liputan6.com, Medan - Sebanyak 81 kendaraan 4x...    bola
4     Liputan6.com, Jakarta Indonesia akan melawan T...    bola
...                                                 ...     ...
6122  Liputan6.com, Jakarta Badan Pusat Statistik (B...  bisnis
6123  Liputan6.com, Jakarta - PT Waskita Beton Preca...  bisnis
6124  Liputan6SCTV, Bengkalis - Panglima TNI Marseka...    news
6125  Liputan6.com, Jakarta - Tahapan wawancara kerj...  bisnis
6126  Jakarta - Timnas Indonesia U-22 bersua Vietnam...    bola

[6127 rows x 2 columns]
                                                  title   label
0     Liputan6.com, Bandung Persib Bandung akan menj...    bola
1     Liputan6.com, Jakarta - Mantan Ketua Mahkamah ...    news
2     Liputan6.com, Cardiff - Tragedi yang menimpa E...    bola
3     Liputan6.com, Jakarta - Kementerian Kelautan d...  bisnis
4     Liputan6.com, Jakarta - PT Pertamina (Persero)...  bisnis
...                                                 ...     ...
2622  Liputan6.com, Jakarta - Tim Amerika Serikat be...    bola
2623  Liputan6.com, Jakarta Menteri Koordinator Bida...  bisnis
2624  Liputan6.com, London - David Seaman punya usul...    bola
2625  Liputan6.com, Jakarta - Debat capres 17 April ...    news
2626  Jakarta - Persija akan menantang Newcastle Jet...    bola

[2627 rows x 2 columns]